.contact_us_section {
	width: 100%;

	display: flex;
	flex-direction: column;

	padding-top: 60px;
	padding-right: 0px;
	padding-bottom: 60px;
	padding-left: 0px;

	background-color: var(--section_background_color_1);
}

.contact_sections {
	width: 100%;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.email_us_form {
	width: 100%;

	order: 0;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	padding-top: 30px;
	padding-right: 60px;
	padding-bottom: 0px;
	padding-left: 60px;
}

.customer_input {
	width: 100%;

	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 30px;
	margin-left: 0px;

	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;

	border-style: solid;
	border-width: 2px;
	border-radius: 5px;
	border-color: var(--contact_us_section_input_border_color);

	font-family: var(--font_family_2);
	font-size: 16px;
	line-height: 1.5;
	font-weight: 400;

	color: var(--contact_us_section_input_color);
}

.customer_input:focus {
	border-color: var(--contact_us_section_input_active_border_color);
}

#customer_input_contact_message {
	height: 200px;
}

.selected_items_list {
	width: 100%;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	justify-content: flex-start;
	align-items: center;

	list-style: none;

	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 30px;
	padding-left: 0px;
}

.selected_items_list_name {
	width: 100%;

	text-align: left;

	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;

	font-family: var(--font_family_2);
	font-size: 18px;
	line-height: 1.5;
	font-weight: 400;

	color: var(--contact_us_section_input_color);
}

.no_selected_items_message {
	width: 100%;

	text-align: center;

	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 30px;
	padding-left: 0px;

	font-family: var(--font_family_2);
	font-size: 16px;
	line-height: 1.5;
	font-weight: 400;

	color: var(--contact_us_section_no_selected_items_color);
}

.selected_item {
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;

	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 15px;

	border-style: solid;
	border-width: 2px;
	border-radius: 22px;
	border-color: var(--contact_us_section_selected_item_border_color);

	font-family: var(--font_family_2);
	font-size: 16px;
	line-height: 1.5;
	font-weight: 400px;

	color: var(--contact_us_section_selected_item_color);
	background-color: var(--contact_us_section_selected_item_background_color);

	cursor: default;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.send_email_button {
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;

	padding-top: 10px;
	padding-right: 60px;
	padding-bottom: 10px;
	padding-left: 60px;

	border-style: solid;
	border-width: 2px;
	border-radius: 22px;
	border-color: var(--contact_us_section_selected_item_border_color);

	font-family: var(--font_family_2);
	font-size: 16px;
	line-height: 1.5;
	font-weight: 400px;

	color: var(--contact_us_section_selected_item_color);
	background-color: var(--contact_us_section_selected_item_background_color);

	cursor: pointer;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.company_contact_details_section {
	width: 100%;

	order: 1;
}

@media only screen and (min-width: 820px) and (max-width: 1220px) {
}

@media only screen and (min-width: 1220px) and (max-width: 1320px) {
	.email_us_form {
		width: 50%;

		order: 1;

		padding-top: 30px;
		padding-right: 60px;
		padding-bottom: 0px;
		padding-left: 30px;
	}

	.company_contact_details_section {
		width: 50%;

		order: 0;
	}
}

@media only screen and (min-width: 1320px) {
	.email_us_form {
		width: 50%;

		order: 1;

		padding-top: 30px;
		padding-right: 60px;
		padding-bottom: 0px;
		padding-left: 30px;
	}

	.company_contact_details_section {
		width: 50%;

		order: 0;
	}
}

@media (hover: hover) {
	.send_email_button:hover {
		color: var(--header_section_quick_link_button_active_color);
		background-color: var(--contact_us_send_email_button_hover_background_color);
	}
}
