.footer_section {
	width: 100%;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;

	box-shadow: 0px 0px 12px 0px rgb(0, 0, 0, 0.1);

	background-color: var(--section_background_color_1);
}

.copyright_details {
	width: 100%;

	order: 1;

	display: inline-flex;
	justify-content: center;
	align-items: center;

	padding-top: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	padding-left: 30px;

	font-family: var(--font_family_1);
	font-size: 16px;
	line-height: 1.5;
	font-weight: 400;
	text-align: center;
}

.footer_links {
	width: 100%;

	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;
}

.footer_links_section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	justify-content: center;
	align-items: center;

	order: 0;

	padding-top: 30px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;

	list-style: none;

	cursor: pointer;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.footer_link {
	width: 100%;

	padding-top: 15px;
	padding-right: 30px;
	padding-bottom: 15px;
	padding-left: 30px;

	white-space: nowrap;

	font-family: var(--font_family_2);
	font-size: 16px;
	font-weight: 400;
	text-align: center;

	color: var(--navigation_section_link_color);

	transition: color 0.33s;
}

.footer_link:hover {
	color: var(--navigation_section_link_active_color);
}

@media only screen and (min-width: 820px) and (max-width: 1220px) {
}

@media only screen and (min-width: 1220px) and (max-width: 1320px) {
	.copyright_details {
		width: 50%;

		order: 0;
	}

	.footer_links {
		width: 50%;

		order: 1;

		padding-top: 15px;
		padding-right: 0px;
		padding-bottom: 15px;
		padding-left: 0px;
	}

	.footer_links_section {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;

		padding-top: 0px;
		padding-right: 30px;
		padding-bottom: 0px;
		padding-left: 30px;
	}

	.footer_link {
		padding-top: 5px;
		padding-right: 15px;
		padding-bottom: 5px;
		padding-left: 15px;
	}
}

@media only screen and (min-width: 1320px) {
	.copyright_details {
		width: 50%;

		order: 0;
	}

	.footer_links {
		width: 50%;

		order: 1;

		padding-top: 15px;
		padding-right: 0px;
		padding-bottom: 15px;
		padding-left: 0px;
	}

	.footer_links_section {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;

		padding-top: 0px;
		padding-right: 30px;
		padding-bottom: 0px;
		padding-left: 30px;
	}

	.footer_link {
		padding-top: 5px;
		padding-right: 15px;
		padding-bottom: 5px;
		padding-left: 15px;
	}
}
